:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: initial;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    /* Khi mà Roboto ko chạy được thì sans-serif sẽ chạy dự phòng */
    /* sans-serif là font chữ ko chân */
    font-family: 'Roboto', sans-serif;   
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}