/* heading */
.header{
    height: 120px;
    background-color: #FE6232;
}
.header__navbar{
   

}

.header__navbar-list{
    

}
.header__navbar-items{
    display: flex;
    
}

.header__navbar-space{

}


.header__navbar-link{

}
.header__navbar-items{

}